* {
  background-color: #222;
  color: #ddd;
}

a {
  color: #259
}

body{ 
  margin: .5em;
  height: 100vh;
  overflow-y: hidden;
}

#btn-swap {
  border-color: #ddd;
  border-bottom: none;
  margin-top: 2em;
  max-width: 10em;
}

.main-app {
  display: flex;
  flex-direction: column;
}
/* 
#md-editor {
  height: 84vh;
} */

#prev-box, #md-editor {
  height: 84vh;
  border: 1px inset #ddd;
  overflow-y: scroll;
  padding: .5em;
}

#prev-box::-webkit-scrollbar, #md-editor::-webkit-scrollbar{
  display: none;
}

pre {
  margin: .5em;
  padding-inline: .5em;
  width: max-content;
}

code, pre {
  background-color: #111;
}

.inactive {
  display: none;
}